# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Adriana\OneDrive - Universidad de Antioquia\JOSE\UdeA\5 Semestre\Lógica 3\Practica 2 Arboles\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
